Java/ClienteSOAP/src/conf/xml-resources/web-service-references/Service1/wsdl/localhost_57798/Service1.svc.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:element name="Login"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="user" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="LoginResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="LoginResult" type="xs:boolean"/></xs:sequence></xs:complexType></xs:element><xs:element name="ProcesarPago"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="total" type="xs:int"/><xs:element minOccurs="0" name="pago" type="xs:int"/></xs:sequence></xs:complexType></xs:element><xs:element name="ProcesarPagoResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="ProcesarPagoResult" type="xs:int"/></xs:sequence></xs:complexType></xs:element></xs:schema>